@model eye_nobat.Models.hos

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<environment names="Development">
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</environment>

<div id="myNavRight" class="overlayRight">
    <div class="overlay-contentRight">
        <div class="card">
            <div class="card-header text-white bg-success">
                تعریف بیمارستان جدید
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">نام دانشگاه</label>
                                <select asp-for="uni_id" class="form-control" asp-items="ViewBag.uni_id"></select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="name" class="control-label"></label>
                                <input required asp-for="name" class="form-control" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="phone" class="control-label"></label>
                                <input asp-for="phone" class="form-control" />
                                <span asp-validation-for="phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="address" class="control-label"></label>
                                <input asp-for="address" class="form-control" />
                                <span asp-validation-for="address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="flname" class="control-label"></label>
                                <input required asp-for="flname" class="form-control" />
                                <span asp-validation-for="flname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="uname" class="control-label"></label>
                                <input required asp-for="uname" class="form-control" />
                                <span asp-validation-for="uname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="upass" class="control-label"></label>
                                <input required asp-for="upass" class="form-control" />
                                <span asp-validation-for="upass" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12 mt-4">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success text-white">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    ثبت اطلاعات
                                </button>
                                <a onclick="history.back()" class="btn btn-info">
                                    <i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
                                    <span>انصراف و بازگشت</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("myNavRight").style.width = "100%";
        function closeNavRight() {
            document.getElementById("myNavRight").style.width = "0%";
            setTimeout(function () {
                window.location.href = "/hos/Index";
            }, 1000);
        }

        function back() {
            document.getElementById("index").style.transform = "scale(0)";
            setTimeout(function () {
                window.location.href = "/hos/Index";
            }, 2000);
        }
    </script>


}
