@model IEnumerable<eye_nobat.Models.never>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<environment names="Development">
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</environment>

<div class="card" id="index" style="transform:scale(1)">
    <div class="table-responsive table-bordered">
        <div class="table-wrapper">
            <div class="table-title">

                <div class="row" style="width:100%">
                    <div class="col-sm-6">
                        <a href="javascript:window.print()" class="btn btn-primary">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                            <span>چاپ اطلاعات</span>
                        </a>
                        <a onclick="history.back()" class="btn btn-outline-primary">
                            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                            <span>انصراف و بازگشت</span>
                        </a>
                    </div>
                    <div class="col-sm-6 text_header">
                        گزارش نموداری به تفکیک جنسیت
                    </div>
                </div>
            </div>
            @*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% nemudar*@
            <div id="chartContainer3" style="height:500px"></div>
            <div id="chartContainer1" style="height:500px"></div>
            <div id="chartContainer2" style="height:500px"></div>
            @*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% nemudar*@
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("index").style.transform = "scale(1)";
        function back() {
            document.getElementById("index").style.transform = "scale(0)";
            setTimeout(function () {
                window.location.href = "/admins/dashboard";
            }, 2000);
        }

    </script>


    <script src="~/js/canvasjs.min.js"></script>
    <script type="text/javascript">

        var result = @Html.Raw(ViewBag.DataPoints);
        var dataPoints =[];
        for(var i = 0; i < result.length; i++){
            dataPoints.push({label:result[i].name, y:result[i].count});
        }

        window.onload = function() {
            var chart1 = new CanvasJS.Chart("chartContainer1", {
                theme: "light1",
                zoomEnabled: true,
                animationEnabled: true,
                
                data: [
                {
                        type: "pie",
                    dataPoints: dataPoints,
                }
                ]
            });
            var chart2 = new CanvasJS.Chart("chartContainer2", {
                theme: "light1",
                animationEnabled: true,
                data: [
                    {
                        type: "column",
                        dataPoints: dataPoints,
                    }
                ]
            });
            var chart3 = new CanvasJS.Chart("chartContainer3", {
                theme: "light1",
                animationEnabled: true,
                title: {
                    text: ""
                },
                data: [
                    {
                        type: "line",
                        dataPoints: dataPoints,
                    }
                ]
            });
            chart1.render();
            chart2.render();
            chart3.render();
        };


    </script>





}

