@model IEnumerable<eye_nobat.Models.v_ertebat_marakez>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<environment names="Development">
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</environment>
<div class="card" id="index" style="transform:scale(0)">
    <div class="card-header text-white bg-primary">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <span>جستجوی اطلاعات</span>
                </div>
                <div class="col-sm-6" style="text-align:left">
                    <a onclick="exportTableToExcel('dataTableExample', 'خروجی فایل اکسل')" class="btn btn-outline-warning">انقال به اکسل</a>
                    <a onclick="history.back()" class="btn btn-outline-danger">انصراف و بازگشت</a>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table id="dataTableExample" class="table">
            <thead>
                <tr>

                    <th>
                        نام دانشگاه
                    </th>
                    <th>
                        نام بیمارستان
                    </th>
                    <th>
                        نام بخش
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name_uni)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name_hos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.name_bakhsh)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        document.getElementById("index").style.transform = "scale(1)";
        function create() {
            document.getElementById("index").style.transform = "scale(0)";
            setTimeout(function () {
                window.location.href = "/nevers/Create";
            }, 2000);
        }
        function edit() {
            document.getElementById("index").style.transform = "scale(0)";
            setTimeout(function () {
                var param = document.getElementById("edit").title;
                window.location.href = "/nevers/Edit/" + param;
            }, 2000);
        }
    </script>


    @*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% export to excel*@
    <script>
        function exportTableToExcel(tableID, filename = '') {
            var downloadLink;
            var dataType = 'application/vnd.ms-excel';
            var tableSelect = document.getElementById(tableID);
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

            // Specify file name
            filename = filename ? filename + '.xls' : 'excel_data.xls';

            // Create download link element
            downloadLink = document.createElement("a");

            document.body.appendChild(downloadLink);

            if (navigator.msSaveOrOpenBlob) {
                var blob = new Blob(['\ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                // Create a link to the file
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;

                // Setting the file name
                downloadLink.download = filename;

                //triggering the function
                downloadLink.click();
            }
        }
    </script>
}
@*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% export to excel*@