@model eye_nobat.Models.uni

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div id="myNavRight" class="overlayRight">
    <div class="overlay-contentRight">
        <div class="card">
            <div class="card-header text-white bg-primary">
                ویرایش اطلاعات دانشگاه
            </div>
            <div class="card-body">
                <hr />
                <form asp-action="Edit">
                    <div class="row">
                        <div class="col-sm-3">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="id" />
                            <div class="form-group">
                                <label asp-for="name" class="control-label"></label>
                                <input asp-for="name" class="form-control" />
                                <span asp-validation-for="name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="phone" class="control-label"></label>
                                <input asp-for="phone" class="form-control" />
                                <span asp-validation-for="phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="address" class="control-label"></label>
                                <input asp-for="address" class="form-control" />
                                <span asp-validation-for="address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="flname" class="control-label"></label>
                                <input asp-for="flname" class="form-control" />
                                <span asp-validation-for="flname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="uname" class="control-label"></label>
                                <input asp-for="uname" class="form-control" />
                                <span asp-validation-for="uname" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="upass" class="control-label"></label>
                                <input value="@ViewBag.upass" type="password" asp-for="upass" class="form-control" />
                                <span asp-validation-for="upass" class="text-danger"></span>
                            </div>
                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    <i class="bx bx-edit"></i>
                                    ویرایش اطلاعات
                                </button>
                                <a onclick="history.back()" class="btn btn-outline-primary">
                                    <i class="bx bxs-left-arrow" aria-hidden="true"></i>
                                    <span>انصراف و بازگشت</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById("index").style.transform = "scale(1)";
    </script>


    <script>
        $(document).ready(function () {
            document.getElementById("myNavRight").style.width = "100%";
        });


        function back() {
            document.getElementById("myNavRight").style.transform = "scale(0)";
            setTimeout(function () {
                window.location.href = "/unis/Index";
            }, 2000);
        }
    </script>
}

