@model eye_nobat.Models.koli

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h1>Create</h1>

<h4>koli</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="flname" class="control-label"></label>
                <input asp-for="flname" class="form-control" />
                <span asp-validation-for="flname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="moshahede" class="control-label"></label>
                <input asp-for="moshahede" class="form-control" />
                <span asp-validation-for="moshahede" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ejra" class="control-label"></label>
                <input asp-for="ejra" class="form-control" />
                <span asp-validation-for="ejra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="etmam" class="control-label"></label>
                <input asp-for="etmam" class="form-control" />
                <span asp-validation-for="etmam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tozihat" class="control-label"></label>
                @* <input asp-for="Tozihat" class="form-control" /> *@
                <textarea asp-for="Tozihat" cols="12" rows="5"></textarea>
                <span asp-validation-for="Tozihat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
