@model eye_nobat.Models.mobile

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<environment names="Development">
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</environment>

<div id="myNavRight" class="overlayRight">
    <div class="overlay-contentRight">
        <div class="card">
            <div class="card-header text-white bg-primary">
                آیا مایل به حذف اطلاعات می باشید؟
            </div>
            <div class="card-body">
                <div>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.flname)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.flname)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.number)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.number)
                        </dd>
                    </dl>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="id" />
                        <button type="submit" class="btn btn-danger text-white">
                            <i class="bx bxs-trash"></i>
                            حذف اطلاعات
                        </button>
                        <a onclick="history.back()" class="btn btn-outline-primary">
                            <i class="bx bxs-left-arrow" aria-hidden="true"></i>
                            <span>انصراف و بازگشت</span>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.getElementById("index").style.transform = "scale(1)";
    </script>


    <script>
        $(document).ready(function () {
            document.getElementById("myNavRight").style.width = "100%";
        });


        function back() {
            document.getElementById("myNavRight").style.transform = "scale(0)";
            setTimeout(function () {
                window.location.href = "/mobiles/Index";
            }, 2000);
        }
    </script>
}

