@model eye_nobat.Models.peyvast

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<environment names="Development">
    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</environment>

<div id="myNavRight" class="overlayRight">
    <div class="overlay-contentRight">
        <div class="card">
            <div class="card-header text-white bg-primary">
               ویرایش پیوست
            </div>
            <div class="card-body">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="id" />
                            <div class="form-group">
                                <label asp-for="name" class="control-label"></label>
                                <input asp-for="name" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="val" class="control-label"></label>
                                @if (Model.val != null)
                                {
                                    <a style="color:red" asp-action="download_file" asp-route-id="@ViewBag.id">دانلود فایل</a>
                                }

                                <input name="file" type="file" asp-for="val" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="never_id" class="control-label">نام و نام خانوادگی بیمار</label>
                                <select asp-for="never_id" class="form-control" asp-items="ViewBag.never_id"></select>
                            </div>
                        </div>
                        <div>
                            <hr />
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">
                                    ویرایش اطلاعات
                                </button>
                                <a onclick="history.back()" class="btn btn-outline-primary">
                                    <span>انصراف و بازگشت</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            <script>
                document.getElementById("myNavRight").style.transform = "scale(1)";
                function create() {
                    document.getElementById("index").style.transform = "scale(0)";
                    setTimeout(function () {
                        window.location.href = "/hos/Create";
                    }, 2000);
                }
                function edit() {
                    document.getElementById("index").style.transform = "scale(0)";
                    setTimeout(function () {
                        var param = document.getElementById("edit").title;
                        window.location.href = "/hos/Edit/" + param;
                    }, 2000);
                }

                function back() {
                    document.getElementById("myNavRight").style.transform = "scale(0)";
                    setTimeout(function () {
                        window.location.href = "/peyvasts/main";
                    }, 2000);
                }

            </script>
        }
